<div class="section  @@classes section-lg">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-5">
                    <span class="h5 text-center">Default Accordion</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!--Accordion-->
                <div class="accordion shadow-soft rounded" id="accordionExample1">
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">Spirit</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-1">
                            <div class="pt-3">
                                <p class="mb-0">
                                    With open source, the mission is always been focused on bringing openness and transparency. Sharing and sovling challenges as a community empowers us all to make better products and focus on the specifics, while sharing and improving on the commons, it also
                                                                    helps us all grow. Proud to be a part of creating a more open culture and to continue building software that supports everyone.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">Components</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-2">
                            <div class="pt-3">
                                <p class="mb-0">
                                    There are a lot, it takes time and dedication to ensure each and every component is given the attention it deserves on its own, and that it fits in harmony with every others. Not to mention layout considerations and leaving room for themeing. Shipping more components takes time, but feel free to raise a Github issue, I may get to it. Or, even better, give it a try! PRs are welcome. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light">
                        <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">License</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-3">
                            <div class="pt-3">
                                <p class="mb-0">
                                    The MIT License is a permissive free software license originating at the Massachusetts Institute of Technology in the late 1980s. As a permissive license, it puts only very limited restriction on reuse and has, therefore, high license compatibility. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="my-5">
                    <span class="h5 text-center">Accordion with icons</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!--Accordion-->
                <div class="accordion shadow-soft rounded">
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-4" data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="icon-title h6 mb-0 font-weight-bold"><span class="fab fa-leanpub"></span>How
                                To</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-4">
                            <div class="pt-3">
                                <p class="mb-0">
                                    Best way to learn how to do things is to look at an example, how it was built, and adapt it to your needs where needed. Of course there is hopefully the doc to help, worse case, someone out there!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-5" data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="icon-title h6 mb-0 font-weight-bold"><span class="fas fa-box-open"></span>
                                Components
                            </span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-5">
                            <div class="pt-3">
                                <p class="mb-0">
                                    The exact count may change, what is the exact count right now anyway? Who's to say? A capsule looking button, is just well rounded cornered button really, and a button may be a button html tag element, but could also just be some div element styled that looks like a button, acts like a button, so is a button. Anyhow I don't know! Look around and find out if you like.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-6" data-target="#panel-6" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="icon-title h6 mb-0 font-weight-bold"><span class="fas fa-donate"></span>License</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-6">
                            <div class="pt-3">
                                <p class="mb-0">
                                    Once again, it's the MIT License. It is a per-mis-sive. If that isn't clear by now just understand that you can do whatever you want with the source code, including reselling it. Why not? All sort of useless stuff is being sold these days. Sometimes, those things are even pretty harmful, but it finds buyers who often even know it. The license though implies there is no warranty, but, I promise, there is nothing known in here that's going to hurt. Unless building web pages hurts your head of course.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
    </div>
</div>