<div class="section @@classes section-lg">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-5">
                    <span class="h5 text-center">Default Alerts</span>
                </div>
            </div>
        </div>
        <!-- End of title-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert shadow-soft" role="alert">
                    <span class="alert-inner--text">For as time passes we forget what we learned and end up <a href="#" class="alert-link">doing the opposite</a>, and hold opinions the opposite of what we should.</span>
                </div>
                <div class="alert alert-success shadow-soft" role="alert">
                    <span class="alert-inner--text">Is a world without pain possible? Then don’t ask the <a href="#" class="alert-link">impossible</a></span>
                </div>
                <div class="alert alert-info shadow-soft" role="alert">
                    <span class="alert-inner--text">The willing are led by <a href="#" class="alert-link">fate</a>, the reluctant get <a href="#" class="alert-link">dragged</a>.</span>
                </div>
                <div class="alert alert-danger shadow-soft" role="alert">
                    <span class="alert-inner--text">What injures the <a href="#" class="alert-link">hive</a> injures the bee. But If you are irritated by every rub, how will your mirror be polished?</span>
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mt-6 mb-5">
                    <span class="h5 text-center">Dismissible Alerts with Icons</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-warning alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-inner--text"><strong>Caution!</strong> The great law of nature is that it never stops. There is no end.</span>
                    <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-success alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-inner--text"><strong>Don't forget!</strong> Associate with people who are likely to improve you.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-info alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-bell"></span></span>
                    <span class="alert-inner--text"><strong>Heads up!</strong> Wealth is the slave of the wise. The master of the fool.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="fas fa-fire"></span></span>
                    <span class="alert-inner--text"><strong>Wrong!</strong> We look forward to death. Whatever time has passed is owned by death.
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mt-6 mb-5">
                    <span class="h5 text-center">Alerts with additional content</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-warning shadow-soft mb-4 mb-lg-5" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-heading">Warning!</span>
                    <p class="mt-3">Whatever you have been expecting for some time comes as less of a shock. Failure to prepare is preparation for failure.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                <div class="alert alert-success shadow-soft mb-4 mb-lg-5" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-heading">Check this out!</span>
                    <p class="mt-3">As long as you live, keep learning how to live to err is human, but to persist in the mistake is diabolical.</p>
                    <hr>
                    <p class="mb-0">Margin usually works nicely. But, contrary to margin, using padding creates spacing that belong to the element!</p>
                </div>
                <div class="alert alert-info shadow-soft mb-4 mb-lg-5" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="far fa-bell"></span></span>
                    <span class="alert-heading">What about this one!</span>
                    <p class="mt-3">Be tolerant with others and strict with yourself.</p>
                    <hr>
                    <p class="mb-0">So don't use margin when padding would be a much better fit, such as for clicking slighty outside that element.</p>
                </div>
                <div class="alert alert-danger shadow-soft mb-4 mb-lg-5" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="fas fa-fire"></span></span>
                    <span class="alert-heading">Sometimes wonder!</span>
                    <p class="mt-3">How does it help... to make troubles heavier by bemoaning them.</p>
                    <hr>
                    <p class="mb-0">But margin remains better if what you really want is.. margin around that element</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
<!-- Section -->
<div class="section section-lg pt-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-5">
                    <span class="h5 text-center">Default Alerts</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-success shadow-inset" role="alert">
                    <span class="alert-inner--text">This is a success alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-warning shadow-inset" role="alert">
                    <span class="alert-inner--text">This is a warning alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-info shadow-inset" role="alert">
                    <span class="alert-inner--text">This is a info alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-danger shadow-inset" role="alert">
                    <span class="alert-inner--text">This is a danger alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mt-6 mb-5">
                    <span class="h5 text-center">Dismissible Alerts with Icons</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-success alert-dismissible shadow-inset fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-inner--text"><strong>Well done!</strong> You successfully read this
                        important alert message.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-warning alert-dismissible shadow-inset fade show" role="alert">
                    <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-inner--text"><strong>Warning!</strong> Better check yourself, you're not
                        looking too good.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-info alert-dismissible shadow-inset fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-bell"></span></span>
                    <span class="alert-inner--text"><strong>Heads up!</strong> This alert needs your attention,
                        but it's not super important.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible shadow-inset fade show" role="alert">
                    <span class="alert-inner--icon"><span class="fas fa-fire"></span></span>
                    <span class="alert-inner--text"><strong>Oh snap!</strong> Change a few things up and try
                        submitting again.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mt-6 mb-5">
                    <span class="h5 text-center">Alerts with additional content</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-success shadow-inset" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-heading">Well done!</span>
                    <p>Haec ego non multis (scribo), sed tibi: satis enim magnum alter alteri theatrum sumus. I am writing this not to many, but to you: certainly we are a great enough audience for each other.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                <div class="alert alert-warning shadow-inset" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-heading">Warning!</span>
                    <p>Haec ego non multis (scribo), sed tibi: satis enim magnum alter alteri theatrum sumus. I am writing this not to many, but to you: certainly we are a great enough audience for each other.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                <div class="alert alert-info shadow-inset" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="far fa-bell"></span></span>
                    <span class="alert-heading">Heads up!</span>
                    <p>Haec ego non multis (scribo), sed tibi: satis enim magnum alter alteri theatrum sumus. I am writing this not to many, but to you: certainly we are a great enough audience for each other.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                <div class="alert alert-danger shadow-inset" role="alert">
                    <span class="alert-inner--icon icon-lg"><span class="fas fa-fire"></span></span>
                    <span class="alert-heading">Danger!</span>
                    <p>Haec ego non multis (scribo), sed tibi: satis enim magnum alter alteri theatrum sumus. I am writing this not to many, but to you: certainly we are a great enough audience for each other.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->