<!-- Section -->
<div class="section @@classes section-lg">
    <div class="container">
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <span class="font-weight-bold">Tabs</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <!-- Tab Nav -->
                <div class="nav-wrapper position-relative mb-4">
                    <ul class="nav nav-pills flex-column flex-sm-row" id="tabs-text" role="tablist">
                        <li class="nav-item mr-sm-3 mr-md-0">
                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Fate</a>
                        </li>
                        <li class="nav-item mr-sm-3 mr-md-0">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Acceptance</a>
                        </li>
                        <li class="nav-item mr-sm-3 mr-md-0">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Mindful</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Tab Nav -->
                <!-- Tab Content -->
                <div class="card shadow-inset bg-primary border-light p-4 rounded">
                    <div class="card-body p-0">
                        <div class="tab-content" id="tabcontent1">
                            <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                                <p>
                                    Whatever happens at all happens as it should; you will find this true, if you watch narrowly. Everything can be taken from a man but one thing: the last of the human freedoms – to choose one’s attitude in any given set of circumstances, to choose one’s own way.
                                </p>
                                <p>
                                    Nothing endures but change. The best answer to anger is silence. Agreed. But nature set a limit on that — as it did on eating and drinking.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                                <p>
                                    There is no genius without a touch of madness. And it is in your power to wipe out this judgment now. Man conquers the world by conquering himself. All vices are at odds with nature.
                                </p>
                                <p>
                                    We’re never unhappy until we remember why we’re supposed to be unhappy.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                                <p>
                                    It is the power of the mind to be unconquerable. It is the quality rather than the quantity that matters. Uncertainty is an uncomfortable position. But certainty is an absurd one.
                                </p>
                                <p>
                                    Change: nothing inherently bad in the process, nothing inherently good in the result.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Tab Content -->
            </div>
        </div>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4">
                <div class="mt-5 mb-3">
                    <span class="font-weight-bold">Tabs With Icons</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <!-- Tab Nav -->
                <div class="nav-wrapper position-relative mb-4">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fas fa-tint"></i>Courage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fas fa-bug"></i>Peasy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fas fa-user-astronaut"></i>Gifted</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Tab Nav -->
                <!-- Tab Content -->
                <div class="card shadow-inset bg-primary border-light p-4 rounded">
                    <div class="card-body p-0">
                        <div class="tab-content" id="tabcontent2">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                <p>Sometimes even to live is an act of courage. Perhaps don’t wait to do things that matter, and savor the time you have. Remember: Matter. How tiny your share of it. Time. How brief and fleeting your allotment of it. Fate. How small a role you play in it.</p>
                                <p>The average man is a conformist, accepting miseries and disasters with the indifference of a cow standing in the rain, but of course while pretending to be all compassionate.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <p>
                                    In your soul, don’t be passive or aggressive. In your life, don’t be all about business. It can ruin your life only if it ruins your character. Otherwise, it cannot harm you — inside or out.
                                </p>
                                <p>
                                    Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                <p>In life, it doesn’t matter what happens to you or where you came from. It matters what you do with what happens and what you’ve been given. You will find no one willing to share out his money; but to how many does each of us divide up his life!</p>
                                <p>The happiness of your life depends upon the quality of your thoughts. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->