<!-- Section -->
<div class="section @@classes section-lg">
    <div class="container">
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4 pl-1 pt-2">
                <div class="mb-3">
                    <span class="font-weight-bold">A straight vertical timeline</span>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row mt-4">
            <div class="timeline timeline-one">
                <!-- Timeline Item 1 -->
                <div class="timeline-item">
                    <span class="icon icon-info"><i class="fab fa-react"></i></span>
                    <h5 class="my-3">ⵙⵙⵓⵔⴼ-ⵉⵢⵉ</h5>
                    <p>The aim of civilization is to enable us to get enjoyment out of everything.
- Well, if that is its aim, I'd rather be a savage.</p>
                </div>
                <!-- Timeline Item 2 -->
                <div class="timeline-item">
                        <span class="icon icon-secondary"><i class="fab fa-ⵖⵓⵔⴽ! "></i></span>
                        <h5 class="my-3">ⵖⵓⵔⴽ! </h5>
                    <p>What is good is easy to get, and
What is terrible is easy to endure</p>
                </div>
                <!-- Timeline Item 3 -->
                <div class="timeline-item">
                        <span class="icon icon-danger"><i class="fab fa-angular"></i></span>
                    <h5 class="my-3">ⵉⵀ</h5>
                    <p>The first programmer was the daughter of a mad poet.</p>
                </div>
            </div>
        </div>
        <hr/>
        <!-- Title  -->
        <div class="row">
            <div class="col-md-4 pl-1 pt-2">
                <div class="mb-3">
                    <span class="font-weight-bold">Here's an alternating vertical timeline</span>
                </div>
            </div>
        </div>
        <!-- End Title  -->
        <div class="row">
            <div class="col-12">
                <div class="vertical-timeline">
                    <!-- Timeline Item 1 -->
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 text-center bottom">
                            <div class="shape organic-radius icon-danger"><i class="fab fa-angular"></i></div>
                        </div>
                        <div class="col-md-6">
                            <h6>Organic shape</h6>
                            <p>The idea of a computer virus was published in the essay “Theory of self-reproducing automata” by John von Neumann in 1949, but the first replicating computer program was not written until 1971.</p>
                        </div>
                    </div>
                    <div class="row timeline-inner">
                        <div class="col-md-2">
                            <div class="corner top-right"></div>
                        </div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <div class="corner left-bottom"></div>
                        </div>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="row align-items-center justify-content-end vertical-timeline">
                        <div class="col-md-6 text-right">
                            <h6>Circle shape</h6>
                            <p>Data is the pollution problem of the information age, and protecting privacy is the environmental challenge.</p>
                        </div>
                        <div class="col-md-2 text-center full">
                            <div class="shape right icon-secondary rounded-circle"><i class="fab fa-ⵖⵓⵔⴽ! "></i></div>
                        </div>
                    </div>
                    <div class="row timeline-inner">
                        <div class="col-md-2">
                            <div class="corner right-bottom"></div>
                        </div>
                        <div class="col-md-8">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <div class="corner top-left"></div>
                        </div>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="row align-items-center vertical-timeline">
                        <div class="col-md-2 text-center top">
                            <div class="shape icon-info"><i class="fab fa-react"></i></div>
                        </div>
                        <div class="col-md-6">
                            <h6>Square shape</h6>
                            <p>Data is the pollution problem of the information age, and protecting privacy is the environmental challenge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4 pl-1 pt-2">
                <div class="mb-3">
                    <span class="font-weight-bold">Another basic vertical timeline</span>
                </div>
            </div>
        </div>
        <!-- End Title  -->
        <div class="row">
            <div class="col-12">
                <div class="timeline timeline-four">
                    <!-- Timeline Item 1 -->
                    <div class="timeline-item">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                    <i class="far fa-money-bill-alt"></i>
                                    <span class="year mt-1">2018-2019</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Business</h5>
                            <p>The JAVA language was previously called Oak. It was named after an oak tree that was grown outside James Gosling’s office (Gosling is best known as the founder and lead designer behind the Java coding language). Later, it was renamed Java, from Java coffee (a kind of coffee from Indonesia).</p>
                        </div>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="timeline-item">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                    <i class="far fa-lightbulb"></i>
                                    <span class="year mt-1">2017-2018</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Development</h5>
                            <p>The JAVA language was previously called Oak. It was named after an oak tree that was grown outside James Gosling’s office (Gosling is best known as the founder and lead designer behind the Java coding language). Later, it was renamed Java, from Java coffee (a kind of coffee from Indonesia).</p>
                
                        </div>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="timeline-item">
                        <div class="icon"></div>
                        <div class="date-content">
                            <div class="date-outer">
                                <span class="date">
                                    <i class="far fa-paper-plane"></i>
                                    <span class="year mt-1">2015-2016</span>
                                </span>
                            </div>
                        </div>
                        <div class="timeline-content">
                            <h5 class="title">Marketing</h5>
                            <p>The JAVA language was previously called Oak. It was named after an oak tree that was grown outside James Gosling’s office (Gosling is best known as the founder and lead designer behind the Java coding language). Later, it was renamed Java, from Java coffee (a kind of coffee from Indonesia).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- another -->
        <hr/>

        <!-- Title  -->
        <div class="row">
            <div class="col-md-4 pl-1 pt-2">
                <div class="mb-3">
                    <span class="font-weight-bold">Could also use cards and avatars</span>
                </div>
            </div>
        </div>
        <!-- End Title  -->
        <div class="row">
            <div class="col-12">
                <div class="timeline timeline-six">
                    <!-- Timeline Item 1 -->
                    <div class="row no-gutters">
                        <div class="col-sm"> <!--spacer--> </div>
                        <!-- timeline item 1 center image & middle line -->
                        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                            <div class="row h-10">
                                <div class="col"> </div>
                                <div class="col"> </div>
                            </div>
                            <span class="m-3 avatar-separator">
                                <img class="img-fluid organic-radius border-tertiary" src="/assets/img/team/big-profile-picture-2.jpg" alt="avatar">
                            </span>
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                        </div>
                        <!-- timeline profile card -->
                        <div class="col-sm py-2">
                            <div class="profile-card">
                                <div class="card shadow border-light">
                                    <div class="card-body">
                                        <h5 class="card-title">Tama Zigh</h5>
                                        <h6 class="card-subtitle">Tamazigh Practitioner</h6>
                                        <p class="card-text my-2">ⵙⵙⵓⵔⴼ-ⵉⵢⵉ, ⵢⵍⵍⴰ ⵡⵉⵏ ⵢⴻⵜⵜⵎⴻⵙⵍⴰⵢⴻⵏ ⵜⴰⵏⴳⵍⵉⵣⵉⵜ ⴷⴰ?. ⵜⵜⵅⵉⵍⴽ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="row no-gutters">
                        <!-- timeline profile card -->
                        <div class="col-sm py-2">
                            <div class="profile-card">
                                <div class="card shadow border-light">
                                    <div class="card-body">
                                        <h5 class="card-title">Miky Jake</h5>
                                        <h6 class="card-subtitle">Tatowast</h6>
                                        <p class="card-text my-2">لذایذ دنیا برای انسان آفریده شده اند، نه انسان برای آن ها و آن ها باید به دنبال انسان باشند، نه انسان به دنبال آن ها.”
                                            ― سید محمدحسین طباطبائی, شیعه در اسلام.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- timeline item 2 center image & middle line -->
                        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                            <span class="m-1 avatar-separator">
                                <img class="img-fluid organic-radius border-secondary" src="/assets/img/team/big-profile-picture-3.jpg" alt="avatar">
                            </span>
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                        </div>
                        <div class="col-sm"> <!--spacer--> </div>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="row no-gutters">
                        <div class="col-sm"> <!--spacer--> </div>
                        <!-- timeline item 3 center image & middle line -->
                        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                            <span class="m-3 avatar-separator">
                                <img class="img-fluid organic-radius border-warning" src="/assets/img/team/big-profile-picture-1.jpg" alt="avatar">
                            </span>
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                        </div>
                        <!-- timeline profile card -->
                        <div class="col-sm py-2">
                            <div class="profile-card">
                                <div class="card shadow border-light">
                                    <div class="card-body">
                                        <h5 class="card-title">Viet Name</h5>
                                        <h6 class="card-subtitle">Tôi nghĩ vậy tôi</h6>
                                        <p class="card-text my-2">Nếu bạn đến được đó, hãy nhắn cho tôi, tiếng Việt thật tuyệt vời.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Timeline Item 4 -->
                    <div class="row no-gutters">
                        <!-- timeline profile card -->
                        <div class="col-sm py-2">
                            <div class="profile-card">
                                <div class="card shadow border-light">
                                    <div class="card-body">
                                        <h5 class="card-title">Amh Aric</h5>
                                        <h6 class="card-subtitle">Lost in Ethiopia</h6>
                                        <p class="card-text my-2">እየቀለድክ ነው? እያታለልክ ይመስለኛል፣ ይህን ከተናገርክ መልእክት ተኩሰኝ!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- timeline item 4 center image & middle line -->
                        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                            <div class="row h-10">
                                <div class="col middle-line"> </div>
                                <div class="col"> </div>
                            </div>
                            <span class="m-1 avatar-separator">
                                <img class="img-fluid organic-radius border-info" src="/assets/img/team/profile-picture-7.jpg" alt="avatar">
                            </span>
                            <div class="row h-10">
                                <div class="col"> </div>
                                <div class="col"> </div>
                            </div>
                        </div>
                        <div class="col-sm"> <!--spacer--> </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- end another -->
        

    </div>
</div>
<!-- End of Section -->