<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./_head.html', {
        "path": "../..",
        "title": "Neu Components - Forms"
    })
</head>

<body>
    @@include('./_navigation.html', {
        "path": "../..",
        "classes": "navbar-light"
    })
    <main>
        <!-- Hero -->
       <!-- Hero -->
       <div class="section-header pb-6 bg-primary overflow-hidden text-center border-bottom border-light">
        <div class="container z-2">
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <h1 class="display-3 mb-4">Forms</h1>
                    <p class="lead">Examples for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="alert shadow-inset">
                        <div class="d-flex">
                            <div class="alert-inner--text">
                                <span class="icon text-danger icon-xs mr-2 mr-md-1"><span class="fas fa-file-alt"></span></span>
                                <a target="_blank" href="https://github.com/hirako2000/neu-hirako/wiki/components/forms/">See Documentation</a> for a detailed technical explanation.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->

    @@include('./components/_forms.html', {
        "path": "../..",
        "classes": "bg-primary text-dark"
    })
    </main>
    @@include('./_footer.html', {
        "path": "../..",
        "classes": "bg-primary"
    })

    @@include('./_scripts.html', {
        "path": "../.."
    })
</body>

</html>