<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light @@classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p><strong>Neu UI</strong> is a Bootstrap based UI Kit built following the Neumorphism design trend.</p>
                <ul class="d-flex list-unstyled mb-5 mb-lg-0">
                    <li class="mr-2">
                        <a href="https://twitter.com/neu-hirako-ui"  class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link"
                        data-toggle="tooltip" data-placement="top" title="Follow on Twitter">
                            <span aria-hidden="true" class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class="mr-2">
                        <a href="https://www.facebook.com/neu-ui/"  class="btn btn-icon-only btn-pill btn-primary" aria-label="facebook social link"
                        data-toggle="tooltip" data-placement="top" title="Like on Facebook">
                            <span aria-hidden="true" class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li class="mr-2">
                        <a href="https://github.com/hirako2000"  class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link"
                        data-toggle="tooltip" data-placement="top" title="Open source projects">
                            <span aria-hidden="true" class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/hirakosan"  class="btn btn-icon-only btn-pill btn-primary" aria-label="dribbble social link"
                        data-toggle="tooltip" data-placement="top" title="Follow us on Dribbble">
                            <span aria-hidden="true" class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h5>Neu UI</h5>
                <ul class="footer-links list-unstyled mt-2">
                    <li class="mb-1"><a class="p-2"  href="https://github.com/hirako2000/neu-ui">Repo</a></li>
                    <li class="mb-1"><a class="p-2"  href="https://github.com/hirako2000">Other projects</a></li>
                    <li class="mb-1"><a class="p-2"  href="https://mtassoumt.uk">About Me</a></li>
                    <li><a class="p-2"  href="https://mtassoumt.uk">Contact</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h5>Other</h5>
                <ul class="footer-links list-unstyled mt-2">
                    <li class="mb-1"><a class="p-2" href="/docs/introduction.html" >Docs
                        <span class="badge badge-gray text-uppercase ml-2">v1.0</span></a>
                    </li>
                    <li class="mb-1">
                        <a class="p-2" href="https://github.com/hirako2000/neu-ui/" >Changelog</a>
                    </li>
                    <li class="mb-1">
                        <a class="p-2"  href="https://github.com/hirako2000/neu-ui/blob/master/LICENSE">License</a>
                    </li>
                    <li>
                        <a class="p-2"  href="https://github.com/hirako2000/neu-ui/issues">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <h5>Subscribe</h5>
                <p class="text-gray font-small mt-2">Join the mailing list. Sending rarely, but only the best content.</p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 font-weight-normal d-none" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail3" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-gray font-small m-0">Will never share your details.</a></p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
                <a href="https://mtassoumt.uk"  class="d-flex justify-content-center">
                    <img src="@@path/assets/img/logo.svg" height="25" class="mb-3" alt="Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyleft © Hirako San
                    <span class="current-year">2022</span>. Some rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>