<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="HirakoSan">

<link rel="canonical" href="https://github.com/hirako2000/neu-hirako-ui/" />

<!--  Social tags -->
<meta name="keywords" content="Neu UI, neomorphism, neomorphism ui, neomorphism css, neumorphism css, Neu, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap, dashboard, bootstrap dashboard, bootstrap design, bootstrap system, bootstrap ui kit, bootstrap kit, html kit, html css template, web template, bootstrap, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
<meta name="description" content="Start developing neumorphic web applications and pages using Neu UI. It features dozens of individual components and example pages.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Neu UI by Hirako">
<meta itemprop="description" content="Start developing neumorphic web applications and pages using Neu UI. It features dozens of individual components and example pages.">
<meta itemprop="image" content="https://github.com/hirako2000/neu-ui/">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@neuhirako">
<meta name="twitter:title" content="Neu UI by Hirako">
<meta name="twitter:description" content="Start developing neumorphic web applications and pages using Neu UI. It features dozens of individual components and example pages.">
<meta name="twitter:creator" content="@neuhirako">

<!-- Open Graph data -->
<meta property="fb:app_id" content="00000001">
<meta property="og:title" content="Neu UI by Hirako" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://github.com/hirako2000/neu-ui/" />
<meta property="og:description" content="Start developing neumorphic web applications and pages using Neu UI. It features dozens of individual components and example pages.">
<meta property="og:site_name" content="neuhirako" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!--  CSS -->
<link type="text/css" href="@@path/css/neu.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}